* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* * {
  box-sizing: border-box;
} */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}
/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.btn-formatted {
  align-content: center;
}

/* ==========================================================================
Main page styles
========================================================================== */

// .hipster {
//   display: inline-block;
//   width: 347px;
//   height: 497px;
//   background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//   background-size: contain;
// }

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (-moz-min-device-pixel-ratio: 2),
//   only screen and (-o-min-device-pixel-ratio: 2/1),
//   only screen and (min-resolution: 192dpi),
//   only screen and (min-resolution: 2dppx) {
//   .hipster {
//     background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//     background-size: contain;
//   }
// }
